{% extends "layout.html" %}
{% block content %}
    <script src="https://YOUR-SERVER/javascripts/api/tableau-2.min.js"></script>

    <h3 style="margin:auto">총매출 예측 ARIMA분석 결과</h3>
    <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1276px; height: 555px; margin:auto'><object class='tableauViz' width='1276' height='555' style='display:none;'><param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;kevstableauserver' /><param name='name' value='2&#47;2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
{% endblock %}